{% extends 'base.html' %}
{% load static %}

{% block title %}
    OPED-About
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
    <body>
        <div class="container">
            <h1 style="font-weight:bolder;">
                Contact
            </h1>
            <br><hr><br>

            <h5>If you have any questions or suggestions, please contact:</h5>

            <ul>
                <li>
                    Dr. Wenjie SHU<br>
                    Email: <a href="mailto:shuwj@bmi.ac.cn">shuwj@bmi.ac.cn</a>
                </li>
<!--                <li>-->
<!--                    Dr. Feng LIU<br>-->
<!--                    Email:-->
<!--                </li>-->
            </ul>
            <br>
            <h5>OPED is supported by the following organizations:</h5>
            <ul>
                <li>
                    Bioinformatics Center of AMMS
                </li>
            </ul>

        </div>
    </body>

{% endblock %}
